<div class="jumbotron">
  <h2><%= @topic.title %></h2>
</div>

<div class="input-field">
  <textarea id="add-topic-area" class="materialize-textarea"></textarea>
  <button id="add-topic-button">Add Comment</button>
  <ul id="comments" class="collection"></ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.createTopicSocket(<%= @topic.id %>)
  })
</script>
